
#fix
{
	background-color: white;
	position: fixed;
	width: 100%
}
#header
{
	border : 1px solid black;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom:20px;


}

#menu
{
	border : 1px solid black;
	margin-top : 0px;
	padding-top: 10px;
	padding-bottom:10px;

		
}

#box1
{
	margin-top: 120px;
	background-color: yellow;
	float:left;
	height: 200px;
	width: 63%;
}

#box2
{
	margin-top: 120px;
	background-color: yellow;
	float: right;
	height: 200px;
	width: 33%;
}

#h1
{
		padding-left: 5px;
		float:left;
		width: 62%;
		border-bottom : 2px solid black;


}

#h2
{
	padding-left: 5px;
	float:right;
	width: 32%;
	border-bottom : 2px solid black;
}

#d1l
{
	padding-left: 5px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	float:left;
	width: 62%;
	border:1px solid black;
}

#d1r
{
	padding-left: 5px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	float:right;
	width: 32%;
	border:1px solid black;
}

#footer
{	
	font-size: 20px;
	text-align: center;
	clear: both;
	border:1px solid black;
}